.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 3rem;

}

ul {
  display: flex;
  column-gap: 10px;
}

li {
  text-decoration: none;
  list-style: none;
  padding: 5px;
}